In [1]:
import pandas as pd
import json

In [2]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [6]:
# Create a DataFrame from the JSON file
path = 'resources/neo_data.json'

df = pd.read_json(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8218 entries, 0 to 8217
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        8218 non-null   int64
 1   name                      8218 non-null   object
 2   absolute_magnitude_h      8218 non-null   float64
 3   est_diameter_min          8218 non-null   float64
 4   est_diameter_max          8218 non-null   float64
 5   relative_velocity         8218 non-null   float64
 6   miss_distance             8218 non-null   float64
 7   orbiting_body             8218 non-null   object
 8   sentry_object             8218 non-null   int64
 9   is_potentially_hazardous  8218 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 642.2+ KB

In [17]:
df.head(5)

,id,name,absolute_magnitude_h,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,is_potentially_hazardous
0,2478784,478784 (2012 UV136),25.60,0.020163,0.045086,41072.828534,3.868955e+07,Earth,0,0
1,3092479,(2001 VH5),21.16,0.155796,0.348369,51223.885782,4.771584e+07,Earth,0,0
2,3472549,(2009 UK20),26.30,0.014607,0.032662,12712.104884,2.388379e+07,Earth,0,0
3,3827311,(2018 RY1),24.44,0.034400,0.076920,25376.064524,4.844917e+07,Earth,0,0
4,3835821,(2018 UA3),23.60,0.050647,0.113250,88941.661927,6.288475e+07,Earth,0,0

In [40]:
if 'orbiting_body' in df.columns:
    df = df.drop(columns=['orbiting_body'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      10 non-null     object
 1   id                        10 non-null     int64
 2   absolute_magnitude_h      10 non-null     float64
 3   est_diameter_min          10 non-null     float64
 4   est_diameter_max          10 non-null     float64
 5   relative_velocity         10 non-null     float64
 6   miss_distance             10 non-null     float64
 7   is_potentially_hazardous  10 non-null     int64
dtypes: float64(5), int64(2), object(1)
memory usage: 772.0+ bytes

In [41]:
df.head(5)

,name,id,absolute_magnitude_h,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,is_potentially_hazardous
0,478784 (2012 UV136),2478784,25.60,0.020163,0.045086,41072.828534,3.868955e+07,0
1,(2001 VH5),3092479,21.16,0.155796,0.348369,51223.885782,4.771584e+07,0
2,(2009 UK20),3472549,26.30,0.014607,0.032662,12712.104884,2.388379e+07,0
3,(2018 RY1),3827311,24.44,0.034400,0.076920,25376.064524,4.844917e+07,0
4,(2018 UA3),3835821,23.60,0.050647,0.113250,88941.661927,6.288475e+07,0

In [42]:
# Set up x and y variables
X = df.copy()
X = X.drop("is_potentially_hazardous", axis=1)
X = X.drop("name", axis=1)
X = X.drop("id", axis=1)
y = df["is_potentially_hazardous"]

In [43]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [46]:
# Creat and train a random forest model
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model = rf_model.fit(X_train, y_train)

In [47]:
# Check the model's balanced accuracy on the test set   NOTE TO SELF: SEE THE WARNING AND FIND THE LAVEL!!!
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

1.0

In [48]:
# Check the model's balanced accuracy on the training set
y_pred_train = rf_model.predict(X_train)
balanced_accuracy_score(y_train, y_pred_train)

c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

1.0

In [51]:
# Try the following values for max_depth
max_depths = [10, 20, 30, 40, 50]
models = {'train_scores': [], 'test_scores': [], 'max_depths': max_depths}

for max_depth in max_depths:
    rf_model = RandomForestClassifier(max_depth=max_depth)
    rf_model = rf_model.fit(X_train, y_train)
    y_pred = rf_model.predict(X_test)
    print(f"Max depth: {max_depth}, Balanced accuracy: {balanced_accuracy_score(y_test, y_pred)}")

c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

Max depth: 10, Balanced accuracy: 1.0
Max depth: 20, Balanced accuracy: 1.0
Max depth: 30, Balanced accuracy: 1.0
Max depth: 40, Balanced accuracy: 1.0
Max depth: 50, Balanced accuracy: 1.0

c:\Users\catpa\anaconda3\envs\dev\Lib\site-packages\sklearn\metrics\_classification.py:395: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

In [54]:
# Create a list of values with the same length as the index
values = [models[key] for key in max_depths]

# Create the DataFrame with the correct length of values
models_df = pd.DataFrame(values, index=max_depths)
models_df

KeyError: 10